/* Put your CSS here */
html, body {
    margin: 20px;
}

a {
  color: #0492b1;
}

i.fa {
  color: #0492b1;
}

a:hover {
  text-decoration:none;
}

.social-button {
  padding-top: 10px;
  padding-right: 15px;
}

.tooltip-inner {
  min-width: 30em;
  padding: 2em 2em ;
  color: #333;
  background-color: #fff;
  border: 1px solid #999;
}

.tooltip-inner h2 {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #ccc;
}

.error-page {
  text-align: center;
}
