<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">DiSC style for {{fullName}} is <em>{{majorDiscStyle}} - {{discStyleDescription}}</em></h4>
  </div>
  <div class="panel-body">
    <div class="disc-image panel-body">
      <img width="100%" {{bind-attr src=discPicUrl}} />
    </div>
  </div>
</div>
