<div class="superhero">
  <h1>{{firstName}} {{lastName}}</h1>
  <div class="clear"></div>
  <div class="controls">
    <a href="#" class="btn">Edit</a>
    <button type="button" class="btn red">Delete</button>
  </div>
</div>
