<div class="superhero">
  <div class="photo">
    <img {{bind-attr src="picUrl"}} />
  </div>
  <div class="full_name">{{fullName}}</div>
  <div class="email">{{email}}</div>
  <div class="span3">Aggressiveness:</div>
  <div class="span1">{{aggressiveness}}</div>
</div>
