<div class="col-xs-2">
  <h2>Team</h2>

  {{#each}}
    <div class="superhero">
      {{#link-to 'superheroes.show' this}}
        {{fullName}}
      {{/link-to}}
    </div>
  {{/each}}

  <h2>Caliper Attributes</h2>

  {{#each caliperAttributes}}
    <div class="caliper-attribute"><a href="#/superheroes/caliper/{{unbound name}}">{{title-case name}}</a></div>
  {{/each}}
</div>
